body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color:blueviolet;
  background-image: -moz-linear-gradient(#336666, #66cccc);

}

main {
  display: flex;
  justify-content:flex-start;
  background-color: #336666;
  background-image: -moz-linear-gradient(#336666, #66cccc);
}

footer {
  display: flex;
  justify-content:flex-end;
  background-color: #336666;
}
